
.img-max{
	max-width:400px;
	max-height:400px;
	width:100%;
}

.img-floater{
	position:absolute;
	animation:spin 4s linear infinite;

}

.img-fluid{

}

#img-floater-1{

}

#img-floater-2{
	
}

#img-floater-3{
	
}

#head-section{
	background-image: linear-gradient(#5A342C 20%, rgba(255,255,255,0));	
	float:left;
	overflow: hidden;
	z-index: -1;
}

#head-div1{

	z-index:0;
}

#head-div3{
border:1px solid black;background-image:url("head1.png");

}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }